## Exercice 9 p. 67

In [1]:
table1 = [('id_exp',  'T' , 'tps'),
          (    1   , 20.2 ,  56  ),
          (    2   , 15.5 ,  85  ),
          (    3   , 18.6 , 120  )]

In [2]:
table2 = [('id_exp',  'T' , 'tps'),
          (    1   , 53.6 , 210  ),
          (    2   , 62.6 ,  81  ),
          (    3   , 66.2 ,  70  )]

In [19]:
def fusion(t1,t2):
    """fusionne t1 et t2
    en renumérottant les expériences de t2
    et en convertissant les températures de t2 en degrés Celsius"""
    table2_conv = [] # liste vide 
    for ligne in t2[1:] : # pour chaque ligne (sauf descipteurs) de t2
        id, T, tps = ligne
        id += len(t1) - 1
        T = (T-32) / 1.8 
        valeurs_converties =  (id, T, tps)
        table2_conv.append(valeurs_converties)
        
    table = table1 + table2_conv
    
    return table

In [20]:
fusion(table1, table2)

[('id_exp', 'T', 'tps'), (1, 20.2, 56), (2, 15.5, 85), (3, 18.6, 120), (4, 12.0, 210), (5, 17.0, 81), (6, 19.0, 70)]